{% extends "layout.html" %}

{% block title %}
    My Tasks
{% endblock %}

{% block content %}
    <h1>My Tasks</h1>

    <div class="tasks-container">

        {% for task in tasks %}

            <div class="task {% if task.done %}completed-task{% endif %}">

                <div class="task-header">

                    <p class="task-title {% if task.done %}completed{% endif %}">
                        {{ task.title }}
                    </p>

                    <div class="task-actions">

                        {% if not task.done %}
                            <a href="{% url 'edit_task' task.id %}" class="edit-btn">
                                Edit
                            </a>
                        {% endif %}

                        <a href="{% url 'delete_task' task.id %}" class="delete-btn">
                            Delete
                        </a>

                    </div>

                </div>

                <div class="task-info">

                    <div class="info-item description-item">
                        <span>Description</span>
                        <p>{{ task.description }}</p>
                    </div>

                    <div class="info-item">
                        <span>Created</span>
                        <p>{{ task.created_at|date:"d F Y - H:i" }}</p>
                    </div>

                    <div class="info-item">
                        <span>Deadline</span>
                        <p>{{ task.deadline|date:"d F Y - H:i" }}</p>
                    </div>

                    <div class="info-item priority-{{ task.priority }}">
                        <span>Priority</span>
                        <p>{{ task.priority }}</p>
                    </div>

                    <div class="info-item">
                        <span>Status</span>

                        <p>
                            {% if task.done %}
                                Done
                            {% else %}
                                Not Done
                            {% endif %}
                        </p>
                    </div>

                </div>

            </div>

        {% endfor %}

    </div>
{% endblock %}