{% extends "layout.html" %}

{% block title %}
    My Tasks
{% endblock %}

{% block content %}
    <h1>My Tasks</h1>

    <div class="tasks-container">

        {% for task in tasks %}

            <div class="task">

                <div class="task-header">

                    <p class="task-title {% if task.done %}completed{% endif %}">
                        {{ task.title }}
                    </p>

                    <div class="task-actions">
                        <a href="#" class="edit-btn">Edit</a>
                        <a href="{% url 'delete_task' task.id %}" class="delete-btn">Delete</a>
                    </div>

                </div>

                <div class="task-info">

                    <div class="info-item description-item">
                        <span>Description</span>
                        <p>{{ task.description }}</p>
                    </div>

                    <div class="info-item">
                        <span>Created</span>
                        <p>{{ task.created_at }}</p>
                    </div>

                    <div class="info-item priority-{{ task.priority }}">
                        <span>Priority</span>
                        <p>{{ task.priority }}</p>
                    </div>

                    <div class="info-item">
                        <span>Status</span>

                        <p>
                            {% if task.done %}
                                Done
                            {% else %}
                                Not Done
                            {% endif %}
                        </p>
                    </div>

                </div>

            </div>

        {% endfor %}

    </div>
{% endblock %}